{% for entry in craft.entries.section('homePanels').type('heroPanel') %}

{% set heroImage = "" %}
{% for asset in entry.heroImage %}
	{% set heroImage = asset.url %}
{% endfor %}

<div class="hero-image" style="background-image: url('{{heroImage}}');">
    <div id="home">
      <div class="hero-overlay">

        <header id="site-header">

          <div class="row">

            <nav id="top-nav" class="navbar navbar-default navbar-fixed-top navbar-scroll-changed">
              <div class="container">

                <div class="col-md-2 col-sm-1 col-xs-12">
                  <div class="branding">
                    <a href="#" rel="home"><img id="logo" src="assets/images/flexible-logo.png"></a>
                  </div><!--end branding-->
                  
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div><!--end navbar-header-->
                </div><!--end col-md-2 col-sm-2 col-xs-12-->

                <div class="col-md-10 col-sm-11 col-xs-12">
                  <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="true" style="height: 1px;" role="navigation">

                    <div class="menu-primary-menu-container">
                      <ul id="menu-main-top-navigation" class="menu nav navbar-nav navbar-right">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#plan">Pricing</a></li>
                        <li><a href="#quote">Get a Quote</a></li>
                      </ul>
                    </div><!--end menu-->

                  </div><!--end navbar-collapse--> 

                </div><!--end col-md-10 col-sm-10 col-xs-12-->
                
              </div><!--end container-->

            </nav>
               
          </div><!--end row-->

          <div class="main-message">  
            <div class="container">
              <h1>{{entry.title}}</h1>
              <p class="description-image">
                {{entry.description}}
              </p>
              <a class="btn btn-cta-primary btn-cta-blue" href="{{entry.buttonUrl}}" role="button">{{entry.buttonText}}</a>
            </div><!--end container-->
          </div><!--end main-message-->

        </header>

      </div><!--end hero-overlay-->
    </div><!--end acasa-->
  </div><!--end hero-image-->

{% endfor %}